@media only screen and (max-width: 480px){
    .navbar {
      border-bottom: 1px solid black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;
      position: sticky;
      top: 0;
      z-index: 3;
      background-color: #fff;
    
      &__left {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
      }
    
      &__right {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .profileIcon {
      width: 40px;
      border: 1px solid;
      border-radius: 50%;
    }
    .filterIcon{
        cursor: pointer;
    }

}
